/*general*/
body{
	font-family: "Karla", sans serif;
	font-size: 1em;
	line-height: 1.5em;
	background: url("../img/base.png");
	}
ul{
	list-style: none;
	}
.container .rfloat{
	float: right;
	}
h3{
	font-family: "karla", sans serif;
	font-weight:bold;
	font-style:italic;
	text-transform: uppercase;
	color: #efd493;
	font-size: 2em;
	
	}

/*sidebar*/
h1{
	text-align:center;
	margin-top: 30px;
	}


#about{
		Font-family: "karla", sans serif;
		width: 40%;
		}
#about > p{
	text-align:center;
	color:#c97a53;
	}

#us{
	margin-top: 20px;
	color: #000;
	text-align:center;
	}
#about > div > p {
	margin-left: 45px;
	border-top:3px solid rgb(248, 235, 203);
	margin-right:48px;
	}
#logo{
	font-family: "karla", sans serif;
	font-weight:bold;
	font-style:italic;
	color: #e8ab7f;
	text-align: center;
	margin-bottom: 50px;
	}
/*main content*/
#mainC{
	height:1183px;
	width: 60%;
	background: url('../img/bg.png');
	margin-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 200px;
	}
#mainC h3{
	text-align: right;
	margin-right: 30px;
	border-bottom:3px solid #efd493;
	}	
/*menu buttons*/
#menuitems > h4{
	float: right;
	margin-right: 30px;
	}
h4{
	color:#efd493;
	}
.button:hover {
	color: #c97a53;
	}
.button{
	font-size: 1em;
	}
/*menu items*/
#menuitems{
	margin-left: 22px;
	}
#menuitems h3{
	color:#c97a53;
	font-weight:bold;
	}
#menuitems > div{
	float: left;
	margin: 20px 20px 0 0;
	}
	
.caption{
	padding-top: 114px;
	padding-bottom:117px;
	}
.popover{
	background: #fff;
	border: none;
	}
.popover-title{
	background: none;
	border-bottom: 3px solid #efd493 !important;
	width: 249px;
	}
.popover.bottom .arrow{
	border-bottom-color: #efd493;
	}
popover.bottom .arrow:after{
	border-bottom-color: #efd493;
	}